*{
    box-sizing: border-box;
}
body{
    background-color: aqua;
    box-sizing: border-box;
    
}
.main{
    /* background-color: rgb(142, 174, 101); */
    height: 400px;
    width: 200px;
    margin: 10px;
    
    
}
.box1{
    color: rgb(97, 10, 10);
    padding: 80px;    
    background-color: rgb(239, 235, 235);
    border: 2px solid rgb(16, 11, 11);
    
    border-radius: 200px;
}.box1:hover{
    color: rgb(17, 216, 189);
    padding: 80px;    
    background-color: rgb(250, 52, 2);
    border: 2px solid white;
    
    border-radius: 200px;
} 
.box2{
    color: rgb(17, 216, 189);
    padding: 80px;    
    background-color: rgb(245, 245, 241);
    border: 2px solid rgb(17, 16, 16);
    
    border-radius: 200px;
} 
.box2:hover{
    color: rgb(17, 216, 189);
    padding: 80px;    
    background-color: rgb(246, 250, 2);
    border: 2px solid white;
    
    border-radius: 200px;
} 
.box3{
    color: rgb(17, 216, 189);
    padding: 80px;    
    background-color: rgb(245, 245, 241);
    border: 2px solid rgb(13, 5, 5);
    
    border-radius: 200px;
} 
.box3:hover{
    color: rgb(97, 10, 10);
    padding: 80px;    
    background-color: rgb(10, 249, 34);
    border: 2px solid rgb(5, 250, 17);
        border-radius: 200px;
}
.box4{
    height:200px;
    width: 20px;
    margin-left: 85px;
    padding-top: 100px;
    
    background-color: blueviolet;
}