div{
    float: left;
    height: 200px;
    width: 50%;
}
h1{
    text-decoration: underline;
    font-style: italic;
    color: blueviolet;
}
button{
    color: rgb(2, 12, 0);
    background-color: aquamarine;
    border-radius: 20px;
}
p::first-letter{
    font-size: 30px;
    background-color: bisque;
}
img{
    border-radius: 30px;
}