.box{
    background-color:red ;
    height:50px ;
    width: 50px;
    border: 1px solid white;
}
.main{
    display: grid;
    grid-template-columns: repeat(4,50px);
    grid-template-rows: repeat(3,50px);
    height: 300px;
    width: 300px;
   
    
}
.box1{
    grid-column: 1/4;
        
}
.box5{
    grid-row: 2/4;
}