.btn1{
    background-color: rgb(1, 10, 10);
        color: rgb(247, 243, 245);
        padding: 5px;
        margin: 4px;
        border-radius: 8px;
        font-style: italic;
        font-size: large;
}
.btn2{
    background-color: white;
        color: rgb(11, 1, 6);
        padding: 5px;
        margin: 4px;
        border-radius: 8px;
        font-style: italic;
        font-size: large;
}
.btn3{
    background-color: rgb(1, 10, 10);
        color: rgb(247, 243, 245);
        padding: 5px;
        margin: 4px;
        border-radius: 8px;
        font-style: italic;
        font-size: large;
}
.btn4{
    background-color: white;
        color: rgb(17, 0, 9);
        padding: 5px;
        margin: 4px;
        border-radius: 8px;
        font-style: italic;
        font-size: large;
}
#btn5{
    background-color: rgb(69, 12, 223);
        color: rgb(247, 243, 245);
        padding: 5px;
        margin: 4px;
        border-radius: 8px;
        font-style: italic;
        font-size: large;
}
body{background: linear-gradient(to right, orange,rgb(150, 134, 134) ,green  );
padding: 10px;
margin: 10px;
}